.title{
    width: 488px;
    height: 273px;
    margin-top: 216px;
    margin-left: 374px;
    font-family: "Product Sans Bold";
    font-size: 75px;
}

.text1{
    width: 570px;
    height: 66px;
    margin-top: 15px;
    margin-left: 374px;
    font-family: "Product Sans Normal";
    font-size: 16px;
    color: #888888;
}

.button{
    width: 170px;
    height: 50px;
    margin-top: 25px;
    margin-left: 375px;
    border-radius: 54px;
    background-color: #F16214;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.text2{
    font-family: "Product Sans Bold";
    font-size: 16px;
    color: #FFFFFF;
}

.arrow{
    margin-left: 35px;
    margin-top: 5px;
}

.social{
    width: 229px;
    height: 40px;
    margin-top: 25px;
    margin-left: 363px;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.social .icon {
    margin: 0 8px; 
}

.social .icon img {
    width: 40px; 
    height: 40px; 
}

@font-face {
    font-family: "Product Sans Bold"; 
    src: url("E:/web/style/fonts/bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
    } 
@font-face {
    font-family: "Product Sans Normal"; 
    src: url("E:/web/style/fonts/productsans.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
    } 
